h1 {
    color: rgb(29, 3, 15);
    text-align: center;
}

td {
    border: 6px solid blue;
}

p {
    font-family: 'Lobster', cursive;
    color: rgb(20, 84, 100)
}

body {
    background-image: url("../images/yasou.jpg");
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}

.arrows img {
    /* min-width: 50%; */
    /* min-height: 50%; */
 width:125px;
      
}

img.right {
    float: right;
    margin-left: auto;
}

.arrows {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
